/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #fff;
    font-size: .75em;
		font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}



table 
{
  border: solid 1px #c5dbec;
  border-collapse: collapse;
}

table td 
{
  padding: 3px;   
  border: solid 1px #dfeffc;
}

table th
{
  padding: 4px 3px;
  color: #2e6e9e;
  text-align: left;
  background-color: #dfeffc; 
  border: solid 1px #c5dbec;   
}

#results {
	padding-top:20px;
}	
#api-call {
	padding-top:20px;
}
#responseTable {
	background-color: #ffffff; color: #000000;
}
#failureType {
	font-size: 90%;
	padding:3px; 
  border: solid 1px #dfeffc;
  border-top: 0px;
  
}