@{
    Layout = null;
    var result = ViewBag.Result;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @result
        </div>
    </body>
</html>